body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #201E20;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.rc-tooltip-content .rc-tooltip-inner {
  min-height: unset;
}

.radio-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin:10px;
  border: 2px solid  rgb(131, 129, 129);
  background-color: #E0A96D;
}

.radio-button-title{
  color: #201E20;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

input{
  box-shadow: 0px 0px 0px 1px #201E20;
  font-size: 2rem;
  width: 18px;
  height: 18px;
  margin-right: 7px;
  border: 4px solid #ffffff;
  background-clip: border-box;
  border-radius: 50%;
  appearance: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

input:checked {
  background-color: #25a10d;
  box-shadow: 0px 0px 0px 3px #201E20;
}

.hover{
  border-bottom: dashed 2px #e6e2e2;
}

span{
  color: rgb(219, 218, 218);
  font-size: 1.7rem;
}

.hello{
  color: rgb(219, 218, 218);
  font-size: 1rem;
 
}

.world{
  color: rgb(219, 218, 218);
  font-size: 1rem;
}
.footer{
  position: absolute;
    bottom: 0;
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3edf7;
    font-weight: 500;
    color: rgb(49, 68, 106);    
}

/* arrow image */
img{
  height: 50px;
  width: 70px;
  position: absolute;
  bottom: 100px;
  left: 100px;
}

.image1 img{
  rotate: 270deg;
}

.image3 img{
  rotate: 90deg;
}

.image4 img{
  rotate: 180deg;
}